In [1]:
x=1
type(x)

int

In [2]:
x="pen"
type(x)

str

In [3]:
x=8.43
type(x)

float

In [4]:
x=1.0
type(x)

float

In [5]:
a1=True
b1=False
type(b1)

bool

In [6]:
b1=True
b2=True
type(b1)

bool

In [7]:
myname='Prathik'
type(myname)

str

In [8]:
sentence="""My name is Prathik"""
type(sentence)

str

In [9]:
name1='your name'
type(name1)

str

In [10]:
sentence="""my name is Prathik and I like go on campings
and I have a dog named Tommy"""
type(sentence)

str

In [11]:
x=1.0-2.0j
type(x)

complex

In [12]:
print(x)

(1-2j)

In [13]:
print(x.real,x.imag)

1.0 -2.0

In [16]:
com=3.67+5.7j
type(com)

complex

In [17]:
print(com)

(3.67+5.7j)

In [18]:
print(com.real,com.imag)

3.67 5.7

In [19]:
tenth=10
two=2
print(tenth)
two

10

2

In [20]:
prathik=50
shreyas=40
print(prathik,shreyas)

50 40

In [21]:
ten=10
ten

10

In [22]:
ten='ten'
ten

'ten'

In [23]:
name=9
name

9

In [24]:
name='$$'
name

'$$'

In [25]:
print(name,name)

$$ $$

In [26]:
print(name)
name

$$

'$$'

In [27]:
eight=8
eight

8

In [28]:
eight="""8"""
eight

'8'

In [29]:
'Day'+'1'

'Day1'

In [30]:
'Day'+str(1)

'Day1'

In [31]:
'my'+'name'+'is'+'Prathik'

'mynameisPrathik'

In [34]:
"My"+"name"+"start"+"with"+"P"

'MynamestartwithP'

In [35]:
"My"+""+"name"+"start"+"with"+"P"

'MynamestartwithP'

In [36]:
True and True

True

In [37]:
True and False

False

In [38]:
not True

False

In [39]:
not False

True

In [40]:
True is True

True

In [41]:
True is False

False

In [42]:
False and False

False

In [43]:
False and True

False

In [46]:
'a'is'a'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-46-4450d5b42c8f>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'a'is'a'

True

In [47]:
i=3
if i<3:
    print('less than 3')
elif i<5:
    print('less than 5')
else:
    print('5 or more')

less than 5

In [48]:
j=5
if j<10:
    print("lesser than 10")

lesser than 10

In [51]:
j=5
if j<10:
    print("lesser than 10")

lesser than 10

In [52]:
l=[]
l

[]

In [54]:
l=list()
l

[]

In [55]:
l=['a','b','c']
print(l)

['a', 'b', 'c']

In [56]:
l=['a','b','c']
print(l)
type(l)

['a', 'b', 'c']

list

In [57]:
l=['a',6]
print(l)

['a', 6]

In [58]:
l=['a','b','c']
l

['a', 'b', 'c']

In [59]:
l=['a',6]
l

['a', 6]

In [61]:
l=['a',6,'$','#']
print(l)

['a', 6, '$', '#']

In [62]:
l2=list(l)
l2

['a', 6, '$', '#']

In [63]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [64]:
list('jhmvhjcrtc')

['j', 'h', 'm', 'v', 'h', 'j', 'c', 'r', 't', 'c']

In [65]:
l=[1,2]
print(l)

[1, 2]

In [66]:
l.append('b')
print(l)

[1, 2, 'b']

In [67]:
l.append('c')
print(l)

[1, 2, 'b', 'c']

In [68]:
l.insert(1,56)
l

[1, 56, 2, 'b', 'c']

In [69]:
l.append(7)
print(l)

[1, 56, 2, 'b', 'c', 7]

In [70]:
l.insert(0,23)
l.insert(3,6)
l

[23, 1, 56, 6, 2, 'b', 'c', 7]

In [71]:
print(l)

[23, 1, 56, 6, 2, 'b', 'c', 7]

In [74]:
for i in l:
    print(i)

23
1
56
6
2
b
c
7

In [75]:
for Pra in l:
    print(Pra)

23
1
56
6
2
b
c
7

In [76]:
Numbers=(4,5,6,3,5,6,2,9)
sum=0
for i in Numbers:
    sum=sum+i
print("The sum is",sum)

The sum is 40

In [78]:
xyz=(5,3,5,6,2,9)
sum=1
for i in Numbers:
    sum=sum+i
print(sum)

41

In [79]:
digi=[0,1,5]
for i in digi:
    print(i)
else:
    print('Nothing left to print.')

0
1
5
Nothing left to print.

In [80]:
digits=[0,1,5]
for i in digits:
    print(i)
else:
    print('No item left.')

0
1
5
No item left.

In [81]:
n=int(input('Enter n:'))
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
    
print("the sum is",sum)

Enter n:12
the sum is 78

In [82]:
n=int(input('Enter n:'))
sum=0
i=0
while i<=n:
    sum=sum+i
    i=i+1
    
print("the sum is",sum)

Enter n:9
the sum is 45

In [83]:
n=int(input('Enter n:'))
sum=1
i=0
while i<=n:
    sum=sum+i
    i=i+1
    
print("the sum is",sum)

Enter n:12
the sum is 79

In [87]:
n=int(input('Enter n:'))
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
    
print("the sum is",sum)

Enter n:566
the sum is 160461

In [88]:
print(range(10))

range(0, 10)

In [90]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
print(list(range(20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [92]:
print(list(range(8)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [93]:
print(list(range(2,8)))

[2, 3, 4, 5, 6, 7]

In [94]:
print(list(range(4,5)))

[4]

In [95]:
print(list(range(2,5,1)))

[2, 3, 4]

In [98]:
print(list(range(2,67,8)))

[2, 10, 18, 26, 34, 42, 50, 58, 66]

In [99]:
genre=['pop','rock','jazz','sapna']
for i in range(len(genre)):
    print("I like",genre[i])

I like pop
I like rock
I like jazz
I like sapna

In [100]:
Movie=['Chichore','Raj','3 idiots','SI']
for i in range(len(Movie)):
    print("I like",Movie[i])

I like Chichore
I like Raj
I like 3 idiots
I like SI

In [101]:
Movie=['Chichore','Raj','3 idiots','SD']
for i in range(len(Movie)):
    print("I like",Movie[i])

I like Chichore
I like Raj
I like 3 idiots
I like SD

In [102]:
Movie=['Chichore','Raj','3 idiots','SI']
for run in range(len(Movie)):
    print("I like",Movie[run])

I like Chichore
I like Raj
I like 3 idiots
I like SI

In [104]:
Movie=['Chichore','Raj','3 idiots','SI']
for i in range(len(Movie)):
    print("I like",Movie[i])

I like Chichore
I like Raj
I like 3 idiots
I like SI

In [111]:
for val in "HARSHITA":
    if val=="I":
        break
    print(val)
        
print("The end")

H
A
R
S
H
The end

In [112]:
for val in "Prthik":
    if val=="r":
        break
    print(val)
        
print("The end")

P
The end

In [113]:
for val in "HARSHITA":
    if val=="I":
        continue
    print(val)
        
print("The end")

H
A
R
S
H
T
A
The end

In [114]:
for val in "Prathik":
    if val=="r":
        break
    print(val)
        
print("The end")

P
The end

In [115]:
for val in "Prathik":
    if val=="r":
        continue
    print(val)
        
print("The end")

P
a
t
h
i
k
The end

In [116]:
name= input("whats you'r name")
type(name)

whats you'r nameprathik

str

In [117]:
name= input("whats you'r name")
type(name)

whats you'r name123

str

In [118]:
name= input("whats you'r name?\n")
type(name)

whats you'r name?
123

str

In [120]:
name=int(input("whats you'r name?\n"))
type(name)

whats you'r name?
123

int

In [121]:
name=int(input("whats you'r age?\n"))
type(name)

whats you'r age?
21

int

In [122]:
age=int(input("whats you'r age?\n"))
type(name)

whats you'r age?
21

int

In [124]:
age=int(input("whats you'r age?\n"))
print("Your age is",age)
type(name)

whats you'r age?
21
Your age is 21

int

In [125]:
name=input("What is your name?\n")
print("It was nice talking to you"+name+"!")
age=input("Enter your age?\n")
print("Hey,you are already"+ age +"year old"+name+"!")

What is your name?
Prathik
It was nice talking to youPrathik!
Enter your age?
21
Hey,you are already21year oldPrathik!

In [126]:
name=input("What is your name?\n")
print("It was nice talking to you\n"+name+"!")
age=input("Enter your age?\n")
print("Hey,you are already\n"+ age +"year old\n"+name+"!")

What is your name?
Prathik
It was nice talking to you
Prathik!
Enter your age?
21
Hey,you are already
21year old
Prathik!

In [127]:
Amt=input("How much for this apple?\n")
print("this apple is of"+Amt+"!")
qnt=input("How much do you want?\n")
print("I want"+ qnt +"apple"+"!")

How much for this apple?
20
this apple is of20!
How much do you want?
1doz
I want1dozapple!