In [1]:
class Person:
    pass
john_doe=Person()
john_doe.name="Alec"
john_doe.surname="Baldwin"
john_doe.year_of_birth=1958

print(john_doe)
print("%s %s was born in %d."%
      (john_doe.name,john_doe.surname,john_doe.year_of_birth))

<__main__.Person object at 0x000002044E8B73D0>
Alec Baldwin was born in 1958.

In [2]:
class Person:
    pass
xyz=Person()
xyz.name="Prathik"
xyz.surname="Sanikanavar"
xyz.year_of_birth=1999
xyz.place="Banglore"

print(john_doe)
print("%s %s was born in %d and lives in %s" %
      (xyz.name,xyz.surname,xyz.year_of_birth,xyz.place))

<__main__.Person object at 0x000002044E8B73D0>
Prathik Sanikanavar was born in 1999 and lives in Banglore

In [3]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [5]:
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print("%s %s was born in %d"%(alec.name,alec.surname,alec.year_of_birth))

<__main__.Person object at 0x000002044E8D53A0>
Alec Baldwin was born in 1958

In [6]:
zxy = Person("Prathik", "Sanikanavar", 1999)
print(zxy)
print("%s %s was born in %d"%(zxy.name,zxy.surname,zxy.year_of_birth))

<__main__.Person object at 0x000002044E8D5910>
Prathik Sanikanavar was born in 1999

In [7]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    def age(self, current_year):
        return current_year - self.year_of_birth
    def __str__(self):
        return"%s %s was born in %d ."%(self.name, self.surname, self.year_of_birth)
    
alec=Person("Alec","Baldwin",1958)
print(alec)
print(alec.age(2020))

Alec Baldwin was born in 1958 .
62

In [8]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    def age(self, current_year):
        return current_year - self.year_of_birth
    def __str__(self):
        return"%s %s was born in %d ."%(self.name, self.surname, self.year_of_birth)
    
alec=Person("Prathik","Sanikanavar",1999)
print(alec)
print(alec.age(2020))

Prathik Sanikanavar was born in 1999 .
21

In [12]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    def age(self, current_year):
        return current_year - self.year_of_birth
    def __str__(self):
        return"%s %s was born in %d ."%(self.name, self.surname, self.year_of_birth)
    
alec=Person("Prathik","Sanikanavar",1999)
print(alec)
print(alec.age(2056))

Prathik Sanikanavar was born in 1999 .
57

In [16]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

Charlie Brown was born in 2006 .
<class '__main__.Student'>
True
True

In [18]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
Prathik = Student(1, 'Prathik', 'Sanikanavar', 1999)
print(Prathik)
print(type(Prathik))
print(isinstance(Prathik, Person))
print(isinstance(Prathik, object))

Prathik Sanikanavar was born in 1999 .
<class '__main__.Student'>
True
True

In [19]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)

Charlie Brown was born in 2006 . And has ID: 1

In [20]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
Prathik = Student(34, 'Prathik', 'Sanikanavar', 1999)
print(Prathik)

Prathik Sanikanavar was born in 1999 . And has ID: 34

In [21]:
def summer(a, b):
    return a + b

print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [23]:
def summer(a, b):
    return a + b

print(summer(9, 2))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

11
['a', 'b', 'c', 'd', 'e']
abracadabra

In [24]:
%%writefile test.txt
Hello, this is a quick test file

Writing test.txt

In [25]:
%%writefile Prathik.txt
Hello,I am Prathik

Writing Prathik.txt

In [26]:
my_file = open('test.txt')

In [27]:
my_file.read()

'Hello, this is a quick test file\n'

In [28]:
my_file.read()

''

In [29]:
xyz = open('Prathik.txt')

In [30]:
xyz.read()

'Hello,I am Prathik\n'

In [31]:
xyz.read()

''

In [33]:
my_file.seek(0)

0

In [34]:
my_file.read()

'Hello, this is a quick test file\n'

In [37]:
xyz.seek(0)

0

In [38]:
xyz.read()

'Hello,I am Prathik\n'

In [39]:
my_file.seek(0)

0

In [40]:
my_file.readlines()

['Hello, this is a quick test file\n']

In [41]:
my_file.readlines()

[]

In [42]:
xyz.readlines()

[]

In [43]:
xyz.seek(0)

0

In [44]:
xyz.readlines()

['Hello,I am Prathik\n']

In [45]:
xyz.readlines()

[]

In [46]:
my_file = open('test.txt','w+')

In [48]:
my_file.write('This is new line')

16

In [49]:
my_file.seek(0)

0

In [50]:
my_file.read()

'This is new line'

In [51]:
%%writefile test.txt
First Line
Second Line

Overwriting test.txt

In [52]:
for line in open('test.txt'):
    print(line)

First Line

Second Line

In [53]:
for asdf in open('test.txt'):
    print(asdf)

First Line

Second Line

In [55]:
for xyz in open('test.txt'):
    print(xyz)

First Line

Second Line

In [56]:
from io import StringIO

In [57]:
message = 'This is just a normal string.'

In [58]:
f = StringIO(message)

In [59]:
f.read()

'This is just a normal string.'

In [60]:
xyz = 'This is Prathik.'

In [61]:
p = StringIO(xyz)

In [62]:
p.read()

'This is Prathik.'

In [63]:
f.write(' Second line written to file like object')

40

In [64]:
f.seek(0)

0

In [65]:
f.read()

'This is just a normal string. Second line written to file like object'

In [66]:
p.write(' I live in Banglore')

19

In [67]:
p.seek(0)

0

In [68]:
p.read()

'This is Prathik. I live in Banglore'

In [69]:
p.seek(0)

0

In [72]:
p.readline()

''

In [73]:
p.seek(0)

0

In [74]:
p.read()

'This is Prathik. I live in Banglore'